@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* <---- Index Page Css ----> */

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
.logo img {
  width: 60px;
  height: 60px;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #fff;
}
p {
  color: #555;
}
.container {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1300px;
  margin: auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}
.col-2 {
  min-width: 300px;
  flex-basis: 50%;
  display: grid;
  place-items: center;
}
.col-2.util {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.col-2 .frontImg {
  width: 300px;
  height: 600px;
  padding: 50px 0;
  text-align: end;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  padding-right: 75px;
}

/* <---- Button css Index Page ----> */
.btn {
  display: inline-block;
  background: rgb(25, 103, 210);
  color: #fff;
  font-size: 20px;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #363434;
}
.header {
  background: radial-gradient(#e2dfdf, rgb(8, 102, 233));
}
.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  width: 250px;
  height: 300px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.small-container {
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
  max-width: 1080px;
}
.col-4 {
  flex-basis: 25%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px !important;
  width: 200px;
  height: 400px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  /* background-color: red; */
}
.col-4 img {
  width: 100%;
  height: 70%;
  /* object-fit: cover; */
}
.title {
  padding-top: 20px;
  text-align: center;
  line-height: 60px;
  margin: 0 auto 80px;
  position: relative;
  color: #555;
}
.title::after {
  content: " ";
  background-color: rgb(25, 103, 210);
  width: 60px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
h4 {
  color: #302f2f;
  font-weight: bold;
  font-size: 18px;
}
h6 {
  color: #555;
  font-weight: normal;
  font-size: 14px;
}

.col-4 p {
  font-size: 14px;
}
.rating {
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-5px);
}
/* index page css board,venues */
.offer {
  background: radial-gradient(#fff, #5c7ef0);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img {
  padding: 50px;
  width: 380px;
  height: 420px;
}
.btnDiv {
  width: 100%;
}

small {
  color: #555;
}
.shedule {
  padding-left: 100px;
  padding-right: 100px;
}
.shedule .col-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}
.shedule .col-3 img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid gray;
}
.shedule .col-3:hover {
  transform: translateY(-10px);
}
.fa.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.col-3 .team1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.col-3 span {
  font-size: 18px;
  font-weight: 600;
  color: #555;
}
.col-3 h3 {
  font-size: 16px;
  font-weight: 400;
  color: #555;
  padding-top: 4px;
}
/* <!-- -----Gallery Page Css-----!--> */
.gallery {
  height: auto;
  width: 100%;
}
.gallery .title {
  text-align: center;
}
.conatiner {
  display: flex;
  padding: 0px 64px 16px 64px;
  width: 100%;
  justify-content: center;
}
.picture {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.Image_width {
  width: 210px;
  height: 280px;
  margin-right: 16px;
  margin-bottom: 24px;
}
.Image_height {
  width: 210px;
  height: 180px;
  margin-right: 16px;
  margin-bottom: 24px;
}
.col-6 {
  height: 100%;
  width: 100%;
}
.brands {
  margin: 100px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0);
}
/* <------- Footer -------> */
footer {
  width: 100% !important;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #162f70;
}
footer p {
  color: #a5becc;
  font-size: 18px;
}

/* <!-- Shedule page Css --> */

.cardWrapper {
  width: 90%;
  margin: auto;
}

.card {
  margin: auto;
  width: 70%;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 20px;
}

.teamImages {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(128, 177, 238);
}

.teamImages .team-logo {
  width: 300px !important;
}

.teamImages > .right > .team-logo {
  width: 170px !important;
}
.teamImages > .left > .team-logo {
  width: 100px !important;
}
.left {
  height: 50vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  height: 50vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img,
.right img {
  width: 100%;
}
.versus {
  position: absolute;
  left: 47%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 4px 8px;
  border-radius: 50%;
  background-color: white;
}
.textDiv {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 6px;
}
.location i {
  font-size: 20px;
  padding-right: 5px;
}
.location p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  font-size: 18px;
  padding-bottom: 2px;
  color: #000;
}

.date {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  height: 100%;
}

.date p {
  height: 100%;
  color: #000;
}

/* <---- media queries for responsive----> */

@media screen and (max-width: 649px) {
  .col-2 .offer-img {
    padding: 0px;
  }
}

@media screen and (max-width: 600px) {
  .navbar nav ul li a {
    font-size: 16px;
    margin-left: 4px;
  }
}

@media screen and (max-width: 550px) {
  .logo img {
    width: 40px;
    height: 40px;
  }
  .container {
    padding: 0px;
  }
  nav ul li {
    display: inline-block;
    margin-right: 5px;
  }
}

@media screen and (max-width: 460px) {
  .navbar nav ul li a {
    font-size: 14px;
  }
}
